@import "_variables";
.services 
{
    background:url("../images/bg01.jpg") no-repeat;
    padding:150px 0;
    color:$white;
    @media only screen and (max-width:360px)
    {
        background-size:570%;
    }
    .container 
    {
    
        h6 
        {
            font-size:50px;
            position: relative;
            text-align:center;
            @media only screen and (max-width:414px)
            {
                text-align:right;
            }
            &:before 
            {
                content:"";
                position: absolute;
                width:50px;
                height:3px;
                background-color:$orange;
                left:355px;
                top:35px;
                @media only screen and (max-width:768px)
                {
                    left:150px;
                }
                @media only screen and (max-width:414px)
                {
                    left:50px;
                }
                @media only screen and (max-width:375px)
                {
                    left:0;
                }
            }
        }
        h3 
        {
            font-family:teko;
            font-size:70px;
            font-weight:bold;
            text-align:center;
            margin:50px 0 ;
        }
        .cards 
        {
            display:flex;
            @media only screen and (max-width:414px)
            {
                padding:50px 0;
                flex-direction: column;
            }
            .ser-card 
            {
                color:$darkGray;
                width:(100%/3);
                background-color:$lightGray;
                border-radius:5px;
                padding:80px 40px;
                cursor:pointer;
                text-align:center;
                transition:all .4s ease-in-out;

                @media (max-width:714px)
                {
                    width:(100%);
                }
                @media only screen and (max-width:414px)
                {
                    width:100%;
                    margin-bottom:15px;
                }
                &:hover i,&:hover h4
                {
                    color:$orange;
                }
                &:not(:last-child)
                {
                    margin-right:40px;
                    @media only screen and (max-width: 768px)
                    {
                        margin-right:10px;
                    }
                }
                i 
                {
                    font-size:50px;
                    transition:all .3s ease-in-out;
                }
                h4 
                {
                    margin:45px 0 20px;
                    font-family:teko;
                    text-transform:uppercase;
                    transition:all .3s ease-in-out;
                }
                p 
                {
                    color:$pragraphColor;

                }

            }
        }
    }
}