$darkGray : #333;
$orange : #ff1313;
$darkOrange : #e61717;
$white : white;
$black : black;
$lightGray: #f6f6f6;
$pragraphColor:gray;
$blue : blue;
$floatRight:right;
$floatLeft:left;
@font-face
{
    font-family:indieFlower;
    src:url(../fonts/IndieFlower-Regular.ttf);
}
@font-face
{
    font-family:teko;
    src:url(../fonts/Teko-Regular.ttf)
}